<% content_for :title do %>RSpec 3<% end %>
<div class='gridster'>
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="rspec_issues" data-view="Table" data-title="rspec-core" style='background-color: #9E7C6D'></div>
    </li>
  </ul>
</div>
